/* body {
    background: rgb(85, 144, 189);
    background: linear-gradient(
      90deg,
      rgba(85, 144, 189, 1) 0%,
      rgba(108, 183, 240, 1) 54%,
      rgba(182, 216, 242, 1) 82%
    );
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
  } */
 
  h1 {
    color: rgb(126, 14, 14);
  }
  
  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
   
  }
  
 
  
  #imagen {
    
    width: 30%;
    height: 30%;
  
  }
  
  .pokemon-block p {
    margin: 5px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .pagination {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 5px solid;
  }
  
  .flip-card:hover .card-container {
    transform: rotateY(180deg);
  }
  
  .pokemon-block,
  .pokemon-block-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }
  
  .stat-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }
  

  /* #hola {
    width: 30%;
    height: 20%;
  } */

 /*  CSS PROPIO DEL PROYECTO */

  
 body {
    background: #f2f2f2;
    text-align: center;
  }
  main {
    display: flex;
  }

  .menu {
    position: absolute;
    display: flex;
    list-style: none;
    top: 7%;
    width: 10%;
    left: 89%;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    order: 2;
  }
  .menu div {
    width: 92px;
    height: 92px;
    background: #f2f2f2;
    box-shadow: 7px 7px 14px rgba(212, 211, 211, 0.84), -7px -7px 14px #ffffff;
  }

  .container {
    position: relative;
  
    justify-content: center;
    left: 15vw;
    width: 65vw;
    height: 90vh;
    top: 5%;
    right: 20%;
    background: #f2f2f2;
    box-shadow: 7px 7px 14px rgba(212, 211, 211, 0.84), -7px -7px 14px #ffffff;
    border-radius: 53px;
  }



  * {
    padding: 0;
    margin: 0;
  }
  body {
    background: #f2f2f2;
  }
  main {
    display: flex;
  }
  h1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
  }
  .containertable {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 15vw;
    width: 65vw;
    height: 90vh;
    top: 5%;
    right: 20%;
    background: #f2f2f2;
    box-shadow: 7px 7px 14px rgba(212, 211, 211, 0.84), -7px -7px 14px #ffffff;
    border-radius: 53px;
  }
  .calculadora {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .menu {
    position: absolute;
    display: flex;
    list-style: none;
    top: 7%;
    width: 10%;
    left: 89%;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    order: 2;
  }
  .menu div {
    width: 92px;
    height: 92px;
    background: #f2f2f2;
    box-shadow: 7px 7px 14px rgba(212, 211, 211, 0.84), -7px -7px 14px #ffffff;
  }
  
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
  
    width: 100%;
    height: 20%;
  }
  h2 {
    text-align: center;
  }
  
  .formularios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 40px;
  }
  
  .sobre {
    position: relative;
    display: flex;
    gap: 7%;
    width: 125%;
    bottom: 70px;
    left: 40px;
  }
  a {
    cursor: pointer;
  }
  
  .input {
    outline: none;
    border: 0;
    width: 378px;
    height: 78px;
    background: none;
    box-shadow: inset 7px 7px 14px rgba(212, 211, 211, 0.84),
      inset -7px -7px 14px #ffffff;
    border-radius: 104px;
    padding-left: 10%;
    font-size: 20px;
  }
  .inputDos {
    outline: none;
    border: 0;
    width: 190px;
    height: 78px;
    background: none;
    box-shadow: inset 7px 7px 14px rgba(212, 211, 211, 0.84),
      inset -7px -7px 14px #ffffff;
    border-radius: 104px;
  
    padding-left: 20%;
    font-size: 20px;
  }
  .boton {
    position: relative;
    top: 10%;
    left: 40%;
    width: 183px;
    height: 84px;
    background: #f2f2f2;
    box-shadow: 7px 7px 14px rgba(212, 211, 211, 0.84), -7px -7px 14px #ffffff;
    border-radius: 34px;
    border: none;
  }
  .boton h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }
  
  .active {
    position: relative;
    top: 10%;
    left: 40%;
    width: 183px;
    height: 84px;
    border: none;
    background: #f2f2f2;
    box-shadow: inset 7px 7px 14px rgba(212, 211, 211, 0.84),
      inset -7px -7px 14px #ffffff;
    border-radius: 34px;
  }
  .active h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: rgba(66, 0, 255, 0.43);
  }
  /*otra ventana*/
  .tarjeta img {
    cursor: pointer;
    border: 1px solid black;
    width: 300px;
    margin: 20px;
  }
  .estiloCalculo {
    display: flex;
    position: relative;
    right: 182px;
    bottom: 149px;
    color: rgba(66, 0, 255, 0.43);
  }
  
  .resultadoDatos {
    position: relative;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    right: 467px;
    bottom: 32px;
  }
  /* seleccion de productos*/
  .cajas {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 35vh;
    top: 10%;
    left: 3%;
  }
  
  .cajasUno {
    cursor: pointer;
    display: flex;
    gap: 54px;
  }
  .cajasUno div {
    display: flex;
    background: #f2f2f2;
    box-shadow: 7px 7px 14px rgba(212, 211, 211, 0.84), -7px -7px 14px #ffffff;
    border-radius: 33px;
    width: 134px;
    height: 134px;
    justify-content: center;
    align-items: center;
  }
  .cajasUno img {
    width: 70%;
    height: 70%;
  }
  .cajasDos {
    cursor: pointer;
    display: flex;
    gap: 54px;
  }
  
  .cajasDos div {
    display: flex;
    background: #f2f2f2;
    box-shadow: 7px 7px 14px rgba(212, 211, 211, 0.84), -7px -7px 14px #ffffff;
    border-radius: 33px;
    display: flex;
    width: 134px;
    height: 134px;
    justify-content: center;
    align-items: center;
  }
  .cajasDos img {
    width: 70%;
    height: 70%;
  }
  
  #gramo {
    display: flex;
    width: 134px;
    height: 134px;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    box-shadow: inset 7px 7px 14px rgba(212, 211, 211, 0.84),
      inset -7px -7px 14px #ffffff;
    border-radius: 33px;
  }
  .cesta {
    position: relative;
    left: 45%;
    top: 800px;
  }
  